Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Script/

*.pdb
*.obj
*.exe
*.dll
*.lib
*.exp
*.modules
*.target
*.app
*.ipa

.idea/
.run/
*.iml
cmake-build-*/

.vs/
*.sln
*.vcxproj
*.filters
*.user
*.opendb
*.VC.db

Thumbs.db
desktop.ini
.DS_Store
.AppleDouble
.LSOverride

Plugins/*/Binaries/
Plugins/*/Intermediate/

*.bak
*.log
*.patch